body {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  opacity: 0.9px;
  font-size: 22px;
  margin: 0;
  text-align: center;
}
/* header */
header {
  height: 69px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9px;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  z-index: 2;
}
.logo {
  height: 50px;
  margin-left: 10px;
}
header nav {
  display: inline-block;
  font-family: Helvetica;
  font-size: 22px;
}
header a {
    padding: 10px;
    text-decoration: underline;
    color: seashell;
}
/* main */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 69px;
  margin: auto;
}
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}
.mission-text{
  width: 1200px;
  background-color: black;
  color: seashell;
  font-family: Helvetica;
}
.mission-text h2 {
  margin-top: 10px;
}
.mission-text h4 {
  margin-bottom: 10px;
}
/* middle */
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 69px;
  width: 1000px;
  margin: auto;
}
.tea-title {
  display: inline-block;
  padding-top: 50px;
}
.tea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box img {
  width: 300px;
  height: 200px;
  padding: 0px 10px;
}
/* bottom */
.bottom {
  position: relative;
  top: 69px;
  margin: auto;
  width: 1200px;
  height: 500px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/img-locations-background.jpg);
}
.bottom h2 {
  margin-bottom: 15px;
}
  .locations{
  display: flex;
  justify-content: center;
}
.item {
  width: 300px;
  height: 280px;
  background-color: black;
  margin: 0px 20px;
  text-align: center;
}
.item p {
  padding: 10px 0px;
}
/*footer*/
footer {
  display: inline-block;
  position: relative;
  top: 50px;
  height: 200px;
}
.copyright {
  text-align: left;
}
